
<p>Unanswered Emails</p>
<div class="grid">
  <app-important-tiles [name]="'Lancelot Normand'"></app-important-tiles>
  <app-important-tiles [name]="'Eduard Anton'"></app-important-tiles>
  <app-important-tiles [name]="'Leo Pernier'"></app-important-tiles>
  <app-important-tiles [name]="'Andrew Andrew'"></app-important-tiles>
  <app-important-tiles [name]="'Ariana Grande'"></app-important-tiles>
  <app-important-tiles [name]="'Selena Gomez'"></app-important-tiles>
  <app-important-tiles [name]="'Computer Science'"></app-important-tiles>

  </div>
