
<div class="tile text-ellipsis">
  <!-- ... avatar and content ... -->
  <div class="content">
    <div class="avatar">
      <app-avatar [inputString]="name"></app-avatar>
    </div>

    <div class="side-text">
      <h4>{{extractName(name)}}</h4>
      <p class="text-ellipsis">{{subject}}</p>
  
    </div>



  </div>
  <div class="actions">
    <dialog-overview-example [email]="email"></dialog-overview-example>

    <button mat-stroked-button color="primary" >I'd love to!</button>
    <button mat-stroked-button color="primary">Later</button>
  </div>
</div>
