
<div class="tile text-ellipsis">
  <!-- ... avatar and content ... -->
  <div class="content">
    <div class="avatar">
      <app-avatar [inputString]="email['email']['From']"></app-avatar>
    </div>

    <div class="side-text">
      <h4>{{extractName(email['email']['From'])}}</h4>
      <p class="text-ellipsis">{{email['email']['Subject']}}</p>
  
    </div>



  </div>
  <div class="actions">
    <dialog-overview-example [email]="email"></dialog-overview-example>

    <button mat-stroked-button color="primary" >{{email['status']}}</button>
    <button mat-stroked-button color="primary" (click)="sendMail()">Later</button>
  </div>
</div>
