.custom-dialog-content {
    .email-content {
      margin-bottom: 20px;
    
    }
  
    .full-width-input {
      width: 100%; 
    }
  }

  .footer {
    padding:5px;
  }

  .email-content {
    max-height: 400px;
    overflow-x: scroll;
  }
  ::ng-deep .mat-dialog-container {
    max-width: 80vw;
    width: auto; 
  }

  mat-dialog-actions.footer button {
    margin-bottom: 4px; /* For example, if you want some space between buttons */
  }

  mat-dialog-actions.footer {
    padding: 20px; /* Adjust the padding as needed */
  }
  
  


  mat-dialog-content {
    padding: 0; /* or any desired padding */
  }
  
  textarea {
    margin: 0;
    width:100%; /* Make sure this is set to 0 or an appropriate value */
  }
  
  button {
    width:100%;
    margin-bottom: 4px;
  }
  